<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475512032616-sa0hfelvsk1c15fhb01vje7t2i2fu9j0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475512032616-sa0hfelvsk1c15fhb01vje7t2i2fu9j0</string>
	<key>API_KEY</key>
	<string>AIzaSyAHh3b8C68AaUPAiLm2ddhDk4xyvkL_11A</string>
	<key>GCM_SENDER_ID</key>
	<string>475512032616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doAnTotNghiep</string>
	<key>PROJECT_ID</key>
	<string>project-cb943</string>
	<key>STORAGE_BUCKET</key>
	<string>project-cb943.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475512032616:ios:51260cdecdf821221adadd</string>
	<key>DATABASE_URL</key>
	<string>https://project-cb943-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>